<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <style>
      .bianshe {
        background-color: lightblue !important;
      }
    </style>
    <br /><br />
    <div id="box">
      姓名:<input type="text" v-model="name" /> 年龄:<input
        type="text"
        v-model="age"
      />
      性别<input type="text" v-model="sex" />
      <input type="button" @click="fun" :value="str" v-if="showfun" />
      <button @click="fun1" v-if="showfuns">取消</button>
      <br /><br />
      <table style="text-align: center; width: 100%" border="1">
        <thead>
          <tr>
            <th><input type="checkbox" v-model="selectAll" /></th>
            <th @click="sortList">姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item,index) in todolist "
            :key="index"
            v-bind:style="index%2==0?'background-color:pink':'background-color:yellow'"
            @mouseover="bianse(index)"
            v-bind:class="index==indexs?'bianshe':''"
          >
            <td>
              <input type="checkbox" v-model="selectedItems" :value="item.id" />
            </td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.sex}}</td>
            <td>
              <button @click="shang(index)">上移</button>
              <button @click="xia(index)">下移</button>
              <button @click="remove(index)">删除</button>
              <button @click="xiu(index)">修改</button>
              <button @click="cha(index)">查看</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      new Vue({
        el: "#box",
        data: {
          todolist: [
            { name: "狗磊", age: 18, sex: "男" },
            { name: "老八", age: 13, sex: "男" },
            { name: "小红", age: 12, sex: "女" },
          ],
          name: "",
          age: "",
          sex: "",
          str: "提交",
          index: 0,
          showfun: true,
          showfuns: false,
          showfun1s: false,
          indexs: -1,
          selectAll: false,
          selectedItems: [],
        },
        methods: {
          shang(index) {
            const qem = this.todolist[index];
            this.todolist.splice(index, 1);
            this.todolist.splice(index - 1, 0, qem);
          },
          xia(index) {
            const qem = this.todolist[index];
            this.todolist.splice(index, 1);
            this.todolist.splice(index + 1, 0, qem);
          },
          //添加
          fun() {
            if (this.str == "提交") {
              this.todolist.push({
                name: this.name,
                age: this.age,
                sex: this.sex,
              });
              this.name = this.age = this.sex = "";
            } else {
              this.todolist[this.index].name = this.name;
              this.todolist[this.index].age = this.age;
              this.todolist[this.index].sex = this.sex;
              this.name = this.age = this.sex = "";
              this.str = "提交";
            }
          },
          //删除
          remove(index) {
            if (confirm("确定要删除？")) {
              this.todolist.splice(index, 1);
            }
          },
          //查看
          cha(index) {
            (this.name = this.todolist[index].name),
              (this.age = this.todolist[index].age);
            this.sex = this.todolist[index].sex;
            this.showfun = false;
            this.showfuns = true;
          },
          //修改
          xiu(index) {
            this.str = "修改";
            this.index = index;
            //回显
            (this.name = this.todolist[index].name),
              (this.age = this.todolist[index].age),
              (this.sex = this.todolist[index].sex);
            this.showfuns = false;
            this.showfun1s = true;
          },
          fun1() {
            this.showfun = true;
            this.showfuns = false;
            this.name = this.age = this.sex = "";
          },
          bianse(index) {
            console.log(index);
            this.indexs = index;
          },
          sortList() {
            console.log(11);
            this.todolist.sort((a, b) => {
              return a.name.localeCompare(b.name);
            });
          },
        },
        watch: {
          selectAll(value) {
            if (value) {
              this.selectedItems = this.todolist.map((item) => item.id);
            } else {
              this.selectedItems = [];
            }
          },
        },
      });
    </script>
  </body>
</html>
