<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <style>
      .bianshe {
        background-color: lightblue !important;
      }
    </style>
    <div id="app">
      <input type="text" v-model="num1" @input="calculate" />
      <span>+</span>
      <input type="text" v-model="num2" @input="calculate" />
      <span>=</span>
      <input type="text" :value="result" disabled />
      <br /><br />
      <input type="text" v-model="num3" @input="calculates" />
      <span>-</span>
      <input type="text" v-model="num4" @input="calculates" />
      <span>=</span>
      <input type="text" :value="results" disabled />
    </div>
    <br /><br />
    <div id="box">
      姓名:<input type="text" v-model="name" /> 年龄:<input
        type="text"
        v-model="age"
      />
      性别<input type="text" v-model="sex" />
      <button @click="fun" :value="str" v-if="showfun">提交</button>
      <button @click="fun1" v-if="showfuns">取消</button>
      <br /><br />
      <table style="text-align: center; width: 800px" border="1">
        <thead>
          <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(title,index) in todolist "
            v-bind:style="index%2==0?'background-color:pink':'background-color:yellow'"
            @mouseover="bianse(index)"
            v-bind:class="index==indexs?'bianshe':''"
          >
            <td>{{title.name}}</td>
            <td>{{title.age}}</td>
            <td>{{title.sex}}</td>
            <td>
              <button @click="remove(index)">删除</button>
              <button @click="xiu(index)">修改</button>
              <button @click="cha(index)">查看</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          num1: "",
          num2: "",
          result: 0,
          num3: "",
          num4: "",
          results: 0,
        },
        methods: {
          calculate() {
            this.result = Number(this.num1) + Number(this.num2);
          },
          calculates() {
            this.results = Number(this.num3) - Number(this.num4);
          },
        },
      });
      new Vue({
        el: "#box",
        data: {
          todolist: [
            { name: "狗磊", age: 18, sex: "男" },
            { name: "老八", age: 13, sex: "男" },
            { name: "小红", age: 12, sex: "女" },
          ],
          name: "",
          age: "",
          sex: "",
          str: "提交",
          index: 0,
          showfun: true,
          showfuns: false,
          showfun1s: false,
          indexs: -1,
        },
        methods: {
          //添加
          fun() {
            if (this.str == "提交") {
              this.todolist.push({
                name: this.name,
                age: this.age,
                sex: this.sex,
              });
              this.name = this.age = this.sex = "";
            } else {
              this.todolist[this.index].name = this.name;
              this.todolist[this.index].age = this.age;
              this.todolist[this.index].sex = this.sex;
              this.name = this.age = this.sex = "";
              this.str = "修改";
            }
          },
          //删除
          remove(index) {
            if (confirm("确定要删除？")) {
              this.todolist.splice(index, 1);
            }
          },
          //查看
          cha(index) {
            (this.name = this.todolist[index].name),
              (this.age = this.todolist[index].age);
            this.sex = this.todolist[index].sex;
            this.showfun = false;
            this.showfuns = true;
          },
          //修改
          xiu(index) {
            this.str = "修改";
            this.index = index;
            //回显
            (this.name = this.todolist[index].name),
              (this.age = this.todolist[index].age),
              (this.sex = this.todolist[index].sex);
            this.showfuns = false;
            this.showfun1s = true;
          },
          fun1() {
            this.showfun = true;
            this.showfuns = false;
            this.name = this.age = this.sex = "";
          },
          bianse(index) {
            console.log(index);
            this.indexs = index;
          },
        },
      });
    </script>
  </body>
</html>
